@{
    ViewData["Title"] = "Home Page";
}

@using WebProject.Data

<link rel="stylesheet" href="~/css/StyleSheet.css" />

<form asp-action="Index" method="get">
    <p>
        Търсачка: <input type="text" name="searchString" value="@ViewData["Name"]" />
        <input class="btn btn-outline-secondary" type="submit" value="Търси" />
    </p>
</form>
 
<div class="row">
   <div class="column" >
       <img src="~/images/geracite.jpg" style=  height="400"  />    
       <h3>Гераците</h3>
  
       <p>Цена: 17 Лв</p>
         <button class="button" onclick="Fun()">Купи</button>
         <button class="button" onclick="FunSecond()">Повече информация</button>
      </div>
      
 
   <div class="column">
       <img src ="~/images/nemili.jpg" style=  height="400" />    
       <h3>Немили-недраги</h3>
       <p>Цена: 20 Лв</p>
         <button class="button" onclick="Fun()">Купи</button>
          <button class="button" onclick="FunSecond2()">Повече информация</button>
                 <script>
function Fun() {
  location.replace("https://localhost:44318/Orders/Create")

}
</script>
 <script>
function FunSecond()  {
    location.replace("https://localhost:44318/Products/Details/4")
}
function FunSecond2()  {
    location.replace("https://localhost:44318/Products/Details/5")
}

</script>
   </div>

   
</div>


   