@model IEnumerable<WebProject.Data.Category>
 <link rel="stylesheet" href="~/css/StyleSheet.css" />
@{
    ViewData["Title"] = "Index";
}

<h1>Списък с категории</h1>

<p>
     <button class="button" onclick="Fun()">Създай</button>
  <script>
function Fun() {
  location.replace("https://localhost:44318/Categories/Create")
}
  </script>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="color:black ">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" style="color:black ">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="color:black ">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
